/* font weights available in proxima-nova:
 * 200 => Light
 * 400 => Regular
 * 900 => Black
 */

body{
  font-size:16px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  background-color: rgba(164,207,190,1.0);
 color:rgba(65,115,120, 1.0);
}

hr{
  width:25%;
}
.site_title{
  font-size: 5.2em;
  font-weight: 900;
  color:rgba(244,247,217,1.0);
 text-align: center;
 }
 /* lettering.js things and stuff */

 .site_title > .char2{
  position:relative;
  left:0.01em;
 }
 .site_title > .char7{
  position:relative;
  left:0.01em;
 }
 .site_title > .char9, .site_title > .char10 {
  position:relative;
  left:0.02em;
 }
 /* The phrase: your face! to fix leading */
 .site_title > .char15, .site_title > .char16, .site_title > .char17, .site_title > .char18, 
 .site_title > .char19, .site_title > .char20, .site_title > .char21, .site_title > .char22, 
 .site_title > .char23, .site_title > .char24{
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: -0.2em;
}

.site_title > .char19{
  width:0.23em;
}

.site_title > .char16, .site_title > .char17, .site_title > .char18{
  left:-0.1em;
}
.site_title > .char21, .site_title > .char22, .site_title > .char23, .site_title > .char24{
  left:0.02em;
 }
 .site_title > .char24{
  left:0.05em;
 }

 /* end lettering.js things and stuff */

.photoframe{
  width:100%;
  background-color: rgba(65,115,120, 1.0);
  padding-top:5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}
.photoframe > img {
  margin-left: auto;
  margin-right: auto;
}
.credits{
  background-color: rgba(244,247,217,1.0);
  color:rgba(65,115,120, 1.0);
  font-weight: 400;
  padding-top:8px;
  padding-bottom: 10px;
}
.credits p{
  margin-left: 10px;

}

.credit a{
  color:rgba(164,207,190,1.0);
  font-weight: 400;
  text-decoration: none;
}

.credit a:hover{
  text-decoration: underline;
}

footer{
  font-size: 0.9em;

}