/*
 *  Vars
 */

$light-green: rgba(164,207,190,1.0);
$cream: rgba(244,247,217,1.0);
$dark-green: rgba(65,115,120, 1.0);
$dark-brownish: rgba(62,66,58,1.0);
$light-brownish: rgba(108,110,88,1.0);
$link-blue: rgba(51,122,183, 1.0);
$shadow1: rgba(65,115,120, 0.3);
$shadow2: rgba(108,110,88,0.15);
$proxima-light: 200;
$proxima-regular: 400;
$proxima-black: 900;

/*
 *  Styles
 */


body{
  font-size:16px;
  font-family: "proxima-nova", sans-serif;
  font-weight: $proxima-regular;
  background-color: $light-green;
 color:$dark-green;
}

.btn-primary {
  display:block;
  background-color: $dark-green;
  color: $cream;
  border-radius: 0;
  width:10em;
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
}
hr{
  width:25%;
}
.site_title{
  font-size: 5.2em;
  font-weight: $proxima-black;
  color: $cream;
 text-align: center;
 text-shadow: 1px 1px 0px $shadow1, 2px 3px 4px $shadow2; 
 }
 /* lettering.js things and stuff */

 .site_title > .char2{
  position:relative;
  left:0.01em;
 }
 .site_title > .char7{
  position:relative;
  left:0.01em;
 }
 .site_title > .char9, .site_title > .char10 {
  position:relative;
  left:0.02em;
 }
 /* The phrase: your face! to fix leading */
 .site_title > .char15, .site_title > .char16, .site_title > .char17, .site_title > .char18, 
 .site_title > .char19, .site_title > .char20, .site_title > .char21, .site_title > .char22, 
 .site_title > .char23, .site_title > .char24{
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: -0.2em;
}

.site_title > .char19{
  width:0.23em;
}

.site_title > .char16, .site_title > .char17, .site_title > .char18{
  left:-0.1em;
}
.site_title > .char21, .site_title > .char22, .site_title > .char23, .site_title > .char24{
  left:0.02em;
 }
 .site_title > .char24{
  left:0.05em;
 }

 /* end lettering.js things and stuff */

.photoframe{
  width:100%;
  background-color: $dark-green;
  padding-top:5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}
.photoframe > img {
  margin-left: auto;
  margin-right: auto;
}
.credits{
  background-color: $cream;
  color:$dark-green;
  font-weight: 400;
  padding-top:8px;
  padding-bottom: 10px;
}
.credits p{
  margin-left: 10px;

}

.credits a{
  color:$link-blue;
  font-weight: $proxima-regular;
  text-decoration: none;
}

.credit a:hover{
  text-decoration: underline;
}

footer{
  font-size: 0.85em;
  text-align: center;
}
footer a{
  color: $link-blue;
}

/* Bootstrap col-md */
@media (min-width: 992px) and (max-width: 1199px){
}
/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {
}
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  .site_title{
    font-size:2.6em;
  }
  /* The phrase: your face! to fix leading */
 .site_title > .char15, .site_title > .char16, .site_title > .char17, .site_title > .char18, 
 .site_title > .char19, .site_title > .char20, .site_title > .char21, .site_title > .char22, 
 .site_title > .char23, .site_title > .char24{
  top: -0.1em;
}
}