<!DOCTYPE html>
<html>
<head>
  <title>BabySloth.me | Sometimes only a baby sloth can fix it</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/gfg4hhe.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script>
	$(document).ready(function() {
		$(".site_title").lettering();
	});
  </script>
  <!-- GA tracking code -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57566641-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<header>
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="site_title">Baby Sloth In Your Face!</h1>
			</div>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<%= yield %>
			</div>
		</div>
	</section>
	<hr>
	<footer>
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<p>Sloths not your thing? This site was inspired by <a href="http://babygoat.me" target="_blank">babygoat.me</a>  
				<br>Add more baby sloths to the bed <a href="https://github.com/tsmuse/babysloths">here</a>. Source available<a href="https://github.com/tsmuse/babyslothme"> here</a><br> 
				<br>
				<small>More Shinanigans from <a href="http://www.notjustprettypictures.com">Not Just Pretty Pictures.</a><br>
				The software serving these images is licensed under the MIT License. All other content is copyright it's original owner.</small></p> 
			</div>
		</div>
	</footer>
</body>
</html>
